.container,
footer {
    display: block
}

.container {
    position: relative;
    width: 100%;
    max-width: 1100px;
    min-height: 15px;
    margin-right: auto;
    margin-left: auto
}

.brand {
    position: relative;
    z-index: 100;
    height: 100%;
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center
}

.brand:hover {
    opacity: .76
}

.logo.bright,
.logo.dark {
    display: none;
    filter: invert(1)
}

.logo.dark {
    position: static;
    display: inline-block;
    opacity: .8
}

@media (max-width:991px) {
    .brand {
        padding-right: 40px;
        padding-left: 40px;
        flex-grow: 1;
        justify-content: flex-start
    }
}

@media (max-width:767px) {
    .brand {
        padding-right: 25px;
        padding-left: 25px
    }
}

@media (max-width:479px) {
    .brand {
        padding-top: 0;
        padding-right: 0
    }
}

/*! CSS Used from: http://127.0.0.1:1717/assets/header-features.css */
.container {
    position: relative;
    display: block;
    width: 100%;
    max-width: 1300px;
    min-height: 15px;
    margin-right: auto;
    margin-left: auto
}

.footer {
    padding: 3rem 0;
    overflow: hidden
}

#planet {
    position: absolute;
    width: 500px;
    left: auto;
    right: -200px;
    bottom: -390px;
    -webkit-animation: spin 60s linear infinite;
    -moz-animation: spin 60s linear infinite;
    animation: spin 220s linear infinite;
}

.footer-column {
    min-height: 15px;
    float: left
}

.footer-logo {
    width: 140px
}

.footer-brand {
    margin: 0 -5px 0 0;
    transform: translateY(3px)
}

.footer-brand-wrapper {
    display: inline-flex
}

.footer-column.first {
    width: auto
}

.footer-heading {
    color: #fff;
    font-size: 10px;
    letter-spacing: 1px;
    text-transform: uppercase
}

.footer-link {
    display: block;
    color: #9e9e9e;
    font-size: 15px;
    line-height: 1.5rem;
    font-weight: 300;
    text-decoration: none
}

.footer-link:hover {
    opacity: .8
}

.footer-top-row.w-clearfix {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-right: 100px
}

.footer-logo-smile {
    width: 64px;
    background: #fcc314;
    border-radius: 25%;
    margin: 0
}

.footer-logo-wrapper:before {
    content: '';
    width: 0;
    height: 0;
    border-top: 17px solid transparent;
    border-bottom: 2px solid transparent;
    border-right: 14px solid #fbc312
}

.website-credit {
    float: left
}

.copyright {
    display: block;
    color: #9e9e9e;
    font-size: 15px;
    line-height: 2rem;
    font-weight: 300;
    text-decoration: none
}

.social-bar {
    float: left;
    display: block;
    width: 100%
}

.social-icon {
    height: 24px;
    margin-right: 10px
}

.social-link:hover {
    opacity: .7
}

.new-highligt {
    color: #0e7ced;
    font-size: 11px;
    font-weight: 400
}

@media (max-width:991px) {
    .container {
        max-width: 90vw
    }

    .brand,
    .footer {
        padding-right: 40px;
        padding-left: 40px
    }

    .footer {
        padding-bottom: 100px
    }

    .footer-column {
        width: 33.333%;
        margin-bottom: 45px;
        float: none
    }

    .footer-top-row {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start
    }
}

@media (max-width:767px) {

    .brand,
    .footer {
        padding-right: 25px;
        padding-left: 25px
    }

    .footer {
        padding-top: 60px
    }

    .footer-column {
        width: 50%
    }
}

@media (max-width:479px) {
    .footer {
        padding-top: 60px
    }

    .footer-column.full-mobile {
        width: 100%;
        margin-top: 25px;
        margin-bottom: 0;
        padding-top: 25px;
        border-top: 1px solid rgba(0, 0, 0, .07)
    }

    .footer-column.full-mobile.first {
        margin-top: 0
    }

    .footer-link {
        font-size: 14px;
        line-height: 33px;
        font-weight: 400
    }

    .website-credit {
        width: 100%;
        margin-bottom: 13px;
        float: none
    }

    .copyright {
        width: 100%
    }

    .social-bar {
        width: 100%;
        float: none
    }

    .social-icon {
        height: 27px;
        margin-right: 15px;
        margin-left: 0
    }
}

/*! CSS Used keyframes */
@-moz-keyframes spin {
    to {
        -moz-transform: rotate(-30deg)
    }
}

@-webkit-keyframes spin {
    to {
        -webkit-transform: rotate(-30deg)
    }
}

@keyframes spin {

    0%,
    to {
        transform: rotate(0);
        -ms-transform: rotate(0);
        -moz-transform: rotate(0);
        -webkit-transform: rotate(0);
        -o-transform: rotate(0)
    }

    50% {
        transform: rotate(70deg);
        -ms-transform: rotate(70deg);
        -moz-transform: rotate(70deg);
        -webkit-transform: rotate(70deg);
        -o-transform: rotate(70deg)
    }
}