.canvas {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0
}

.hero-elements-container {
  position: relative;
  margin: 0 auto;
  height: auto;
  max-width: 1600px;
  height: 300px;
}


.hero #moon {
  background: url(/assets/images/moon.svg);
  background-size: cover;
  background-repeat: repeat-x;
  position: relative;
  width: 100%;
  top: 444px;
  bottom: auto
}

.hero #moon {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  top: 300px
}

.hero .subhead,
.hero h1 {
  color: #fff
}

.hero h1 {
  font-weight: 900;
  letter-spacing: -5.5px;
  font-size: 80px;
  line-height: 75px;
}

.hero #earth {
  position: absolute;
  width: 80px;
  top: 100px;
  right: 120px;
  z-index: 200;
}

.hero #smile {
  position: absolute;
  width: 232px;
  top: 330px;
  margin: 0 auto;
  z-index: 200;
  margin-left: 50%;
  transform: translateX(-50%);
}

.hero #astronaut {
  position: absolute;
  width: 42px;
  top: 351px;
  margin: 0 auto;
  z-index: 200;
  margin-left: calc(49% - 6%);
  transform: translateX(-50%);
}

.hero #bot {
  position: absolute;
  width: 90px;
  top: 404px;
  margin: 0 auto;
  left: auto;
  right: 460px;
  transform: rotate(-4deg);
}

.hero #top-ai {
  position: absolute;
  width: 116px;
  top: 295px;
  margin: 0 auto;
  z-index: 200;
  margin-left: 50%;
  transform: translateX(-50%);
}

.hero #logo-smile {
  position: absolute;
  width: 260px;
  top: 510px;
  margin: 0 auto;
  z-index: 200;
  margin-left: 50%;
  transform: translateX(-50%);
  filter: drop-shadow(0 1px 2px #00000055);
}

.hero #earth.luminance {
  -webkit-filter: drop-shadow(-5px -5px 5px #afe5ff99);
  filter: drop-shadow(0 0 70px #afe5ff99)
}

.hero #rocketbase {
  position: absolute;
  width: 200px;
  top: 600px;
  right: 200px;
  z-index: 200
}

.hero-tagline {
  transform: translateY(-120px);
}

.hero-logos {
  display: flex;
  height: 80px;
  align-items: center;
  width: 600px;
  max-height: 80px;
  justify-content: space-around;
  margin: 0 auto;
  margin-bottom: 30px;
}

.hero-logo {
  display: flex;
  max-width: 72px;
}

.hero-logo #logo-client1 {}

.hero-logo #logo-client2 {}

#logo-client3 {
  max-width: 160px;
}

.hero-logo #logo-client4 {}